<div class="message from {{#if isIm}} <!--im--> {{else}} <!--from--> {{/if}}">
    <div class='text'>
        <strong class="strong">{{team}}</strong> - {{#if kp}} кп{{kp}} {{/if}}
        {{#if n}}SOS N{{n}},{{/if}}
        {{#if e}} E{{e}} {{/if}}
        {{text}}
    </div>
</div>